/* Style to fix the issue of text extending past card length */
body{
    font-family: 'Poppins', sans-serif;
  }

  .card-body a {
    word-break: break-all;
  }

  .articleHeadline {
    line-height: 1.5;
  }

  #search-cities-div{
    width: 60%;
   }

.jumbotron {
  margin-top: 20px;
}

#current-weather-data{
    border: solid 2px #ebebeb;
    margin-top: 20px;
  }

  #display-name{
    font-size: 50px;
    margin-bottom:10px;
 
  }

  .city{
      width:200px;
  }