/* Style to fix the issue of text extending past card length */
body{
    font-family: 'Poppins', sans-serif;
  }

  .card-body a {
    word-break: break-all;
  }

  .articleHeadline {
    line-height: 1.5;
  }

  #search-cities-div{
    width: 60%;
   }

.jumbotron {
  margin-top: 20px;
}

#current-weather-data{
    border: solid 2px #ebebeb;
    margin-top: 20px;
    float: left;
  }

  #display-name{
    font-size: 50px;
    margin-bottom:10px;
 
  }

  .city{
      width:200px;
  }

  .card {
      height: 96%
  }

  #forecast-section{
      height: 50%;
  }

  .forecast-box-spacing{
      height: 100%;
      margin: 5px; 
      padding: 20px;
  }

  .forecast-box{
      padding: 20px;
  }

  .forecast-container{
      float: right;
  }

  .parameters-div {
      float: left;
  }

  #display-date{
      font-size: small;
  }
  
  .forecast-box{
    background-color: #49b7eb
  }